/* Fonts for project */
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Anton&display=swap');
/* To use:
font-family: 'Abel', sans-serif;
font-family: 'Anton', sans-serif; */
:root {
    --red: #EB9D3A;
    --orange: #DEA03D;
    --green: #7CB06C;
    --blue: #00ABA9;
    --light: #F0F0F0;
    --dark: #E6E6E6;
}
body {
    background-color: var(--light) !important;
    /*max-width: 75%;*/
}
* {
    font-family: 'Abel', sans-serif;
}
.codeup {
    font-size: 48px;
}
h1, h2, h3, h4, h5 {
    font-family: 'Anton', sans-serif;
}
h1 {
    font-size: 64px;
}
h2 {
    font-size: 48px;
}
h3 {
    font-size: 40px;
}
h4 {
    font-size: 32px;
}
h5 {
    font-size: 28px;
}
.circle-grid {
    box-sizing: border-box;
    margin: 0 auto;
}
.lg-circle {
    /*Circle params*/
    width: 105px;
    height: 105px;
    border: 8px solid red;
    max-width: 105px;
    max-height: 105px;
    min-width: 105px;
    min-height: 105px;
    border-radius: 50%;
    margin: .5em;
    /*should only show red if forgot to specify bg color*/
    background-color: red;
    /*Align content to center*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.lg-circle span {
    font-family: 'Anton', sans-serif;
    color: white;
    font-size: 20px;
}
.sm-circle {
    font-family: 'Anton', sans-serif;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    font-size: 10px;
    width: 20px;
    height: 20px;
}
.sm-circle span {
    font-family: 'Anton', sans-serif;
    color: black;
    font-size: 8px;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
li {
    margin: 1em;
}
#xs-logo, #sm-logo, #md-logo {
    width: 105px;
    max-width: 100%;
    z-index: 1;

}
#logo-title {
    padding-left: 120px;
}
#xs-logo-banner, #sm-logo-banner, #md-logo-banner {
    height: 50px;
    position: relative;
    top: -80px;
    margin-bottom: -50px;
}
.xs-break {
    display: block;
    height: 100px;
}
.work-img {
    border: 4px solid var(--dark);
}
